/* .collectionTable table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  cursor: pointer;
  background-color: #f9fafb;
}
table tbody tr:hover {
  text-decoration: underline;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
} */

:global(.task-state){
  background: #F5F5F5;
  border-radius: 99px;
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:global(.task-info){
  font-size: 11px;
}

:global(.vtex-styleguide-9-x-progressHeight){
  height: 0.25rem;
}
/* :global(.vtex-styleguide-9-x-progressHeight):global(.bg-action-primary),
:global(.vtex-styleguide-9-x-progressHeight):global(.bg-success){
  height: 0.2rem;
  margin: 0.15rem;
} */

:global(.task-error) :global(.vtex-styleguide-9-x-progressHeight):global(.bg-action-primary){
  background-color: #d1011b;
}

:global(.vtex-styleguide-9-x-popup){
  z-index: 99999999999 !important;
}
